<ion-content color="tertiary">
    <ion-grid class="row" style="height: 100%;">
        <ion-row class="ion-padding row">
            <ion-col class="ion-padding ion-justify-content-center ion-text-center" style="height: 100%;">
                <ion-img class="ion-margin ion-align-self-center" [src]="RADAR_IMG_PATH"></ion-img>
            </ion-col>
        </ion-row>
        <ion-row class="row">
            <ion-col class="row ion-text-center">
                <h2>Scanning...</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
