.x-large-text {
    font-size: 72pt;
    font-weight: bold;
}

.extra-margin-top {
    margin-top: 36px;
}

h1 {
    margin-top: 12px !important;
    color: white;
}

.addition-margin {
    margin: 72px;
}

.ion-color-good {
    --ion-color-base: #00af49;
}

.ion-color-moderate {
    --ion-color-base: #ffbf00;
}

.ion-color-nearlyunhealthy {
    --ion-color-base: #ff6e00;
}

.ion-color-unhealthy {
    --ion-color-base: #db3035;
}

.ion-color-veryunhealthy {
    --ion-color-base: #9a00c9;
}

.ion-color-hazardous {
    --ion-color-base: #360066;
}